*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
   
}


.calBody{
    width:50vw;
    border:1px solid gray;
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
   
    @media (min-width: 360px) and (max-width:400px) {
        /* CSS rules for screens larger than 768px */
        width:100vw;
       margin-top: 5%;
    }
    /* Example: Change styles for screens with a width of 768px or more */
@media (min-width: 768px) {
    /* CSS rules for screens larger than 768px */
    width:25vw;
}
    
}

.disContainer{
    width: 100%;
    border:1px solid gray;
    height: 7.5rem;
    color:white;
    background-color: rgb(76,76,76);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 60px;
    font-weight: 100;
   
}

.buttons{
    width:100%;
    height:50vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons div{
  
    border:1px solid gray;
    padding:10%;
    text-align: center;
    font-size: 25px;
    background-color: rgb(214,214,214);
}
.orangeBtn{
    color:white;
    background-color: rgb(247,146,49) !important;
}