#display{
    display: flex;
    justify-content: center;
}
#display input{
    height: 5rem;
    width:16rem;

}
#button_outer div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border:1px solid black;
    align-items: center;
}